@import 'variables';
@import 'typography';

@mixin submit--button {
  font-family: $button--type;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: $primary-text-color;
  background-color: $color-B;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-C;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-C;
  }

  &:active {
    background-color: $color-C;
  }

  &:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
  }
}
