$color-A: #30E7FF;
$color-B: #4AC3E8;
$color-C: #5EC7FF;
$color-D: #4A9EE8;
$color-E: #61A3FF;

$primary--text--color: #fff;
$secondary-text-color: #000;
$third--text--color: #333;

$border--radius: 5px;